body{
background-image: url('code.jpg'); background-repeat: no-repeat; background-size:cover;
 
}
 
div{
 color: red;
 font-weight: bold;
 font-family: "Courier New", Courier, monospace;
}
 
TEXTAREA, input{
 background-color:blue;
 font-family:"Courier New", Courier, monospace;
 color: yellow;
 border-color: aqua;
 border-width:5px;